alembic
annotated-types
anyio
certifi
click
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
Mako
MarkupSafe
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
six
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
python-jose[cryptography]