alembic
annotated-types
anyio
certifi
click
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
Mako
MarkupSafe
psycopg2-binary>=2.9
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
PyJWT
six
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
cloudinary
requests
gunicorn
boto3
botocore
s3transfer
jmespath
urllib3
beautifulsoup4