alembic
annotated-types
anyio
certifi
click
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
Mako
MarkupSafe
psycopg2-binary>=2.9
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
six
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
python-jose[cryptography]
passlib[bcrypt]
passlib
jose
bcrypt
python-multipart
cloudinary
requests
gunicorn
boto3
botocore
s3transfer
jmespath
urllib3
certifi
click